<h4><%= display_date(Time.now) %></h4>
<% unless auto_refresh? %>
    <div class="alert alert-info" role="alert">
      Note: auto refresh disabled for the night.
    </div>
<% end %>
<% unless @status == 'normal' && @inverter_status == 'normal'%>
    <div class="alert alert-danger" role="alert">
        ALERT: System is reporting an error.
    </div>
<% end %>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
        <th scope="col">Current production</th>
        <th scope="col">Total Today</th>
        <th scope="col">Power</th>
        <th scope="col">System</th>
        <th scope="col">Inverters</th>
        <th scope="col">Last report</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td class="bigger-text"><%= to_kw(@inverter_production)%> kW</td>
       <td class="bigger-text"><%= to_kw(@result["energy_today"])%> kWh</td>
       <td><%= to_kw(@result["current_power"])%> kW</td>
       <td class="<%= status_class(@status)%>"><%= @status %></td>
       <td class="<%= status_class(@inverter_status)%>"><%= @inverter_status %></td>
       <td><%= display_date(Time.parse(@result["last_report_at"])) %></td>
    </tr>
  </tbody>
</table>

<%= render partial: 'inverters' %>
